<!DOCTYPE html>
<html>
  <head>
    <title>FileSend by Standard Notes</title>
    <%= csrf_meta_tags %>

    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
