<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link href="<%= image_path("favicon/favicon.ico") %>" rel="shortcut icon" />
    <link rel="apple-touch-icon" href="<%= image_path("favicon/apple-touch-icon.png") %>" />

    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path("favicon/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path("favicon/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= image_path("favicon/site.webmanifest") %>">

    <link rel="mask-icon" href="<%= image_path("favicon/safari-pinned-tab.svg") %>" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <base href="/"></base>

    <title><%= @title %></title>
    <meta content="<%= @title %>" name="title"/>
    <meta content="<%= @desc %>" name="description"/>

    <meta content="<%= @title %>" name="apple-mobile-web-app-title"/>
    <meta content="<%= @title %>" name="application-name"/>

    <meta name="twitter:title" content="<%= @title %>" />
    <meta name="twitter:description" content="<%= @desc %>" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="<%= @meta_image %>"/>
    <meta name="twitter:domain" content="https://filesend.standardnotes.org"/>
    <meta name="twitter:site" content="@standardnotes"/>

    <meta property="og:image" content="<%= @meta_image %>"/>
    <meta property="og:image:secure_url" content="<%= @meta_image %>"/>
    <meta property="og:image:width" content="1000"/>
    <meta property="og:image:height" content="500"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= @title %>" />
    <meta property="og:description" content="<%= @desc %>" />
    <meta property="og:url" content="https://filesend.standardnotes.org"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setCustomUrl', document.location]);
      _paq.push(["setDocumentTitle", document.title]);
      _paq.push(['enableLinkTracking']);
      _paq.push(['trackPageView']);
      (function() {
        var u="//matomo.standardnotes.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '9']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//matomo.standardnotes.org/piwik.php?idsite=9&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
